# Database Settings
# We're using SQLite since Docker isn't available locally.
DJANGO_USE_SQLITE_FOR_CI=True

# Django Settings
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=api.askharekrishna.com,admin.askharekrishna.com,localhost,127.0.0.1
# DJANGO_SECRET_KEY=your_secret_key_here

# OpenAI (if needed)
# OPENAI_API_KEY=
